@page "/api/TDocumentos/eliminar/{tDocumentoId:int}";
@inject IHttpServicio http
@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime

<h3>EliminarTDocumento</h3>

@code {
    [Parameter] public int tDocumentoId { get; set; }
    private TDocumento tDocumento = new TDocumento();


    private async Task Eliminar(int id)
    {
        var resp = await http.Delete<TDocumento>($"/api/TDocumentos/eliminar/{tDocumentoId:int}", tDocumento);
        
    }
}
